/* Setting Pokemon Div to Inline & Centering Text */
.pokemon {
    display: inline-block;      
    text-align: center;
}

/* Block Display for Images so text goes down instead of Inline */
.pokemon img {
    display: block;
}